* {
  box-sizing: border-box;
}


body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

/* Heading styles */

h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    bottom: 5%;
    width: 100%;
    font-weight: 400;
    position: absolute;
}


h2 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 40px;
    padding-top: 60px;
    margin-bottom: 0px;
}


h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
}


h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

/* End of Heading styles */

/* Site center styles */

.wrapper {
    background-color: #d4e9e7;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

/* Wide image styles */
.image-class {
    width: 100%;
}


.header-starfish {
    position: relative;
}


main {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 16px;
}


.navigation {
    padding-top: 0px;
}

/* Navigation bar list styles */
nav ul li{
    display:inline;
    text-align: center;
    width: 33.33%;
    border-right: 1px solid black;
    float:left;
    font-size: 1.6rem;    
    font-weight: 500;
    padding: 10px;
}

/* Navigation bar styles */
nav{
    width: 100%;
    margin-top: -16px;
    padding-top: 0px;
}


#ul-id {
    margin-top: 0;
}


#ul-id li a {
    text-decoration: none;
    color: black;
}


#ul-id li:nth-child(3) {
    border-right: none;
}

/* End of Navigation bar styles */

/* Second part */

.h2-img {
    float: left;
    width: 250px;
    margin-right: 16px;    
}


.h3-ul-class {
    padding-left: 12px;
    margin-top: 8px;
    line-height: 1em;
    font-weight: 500;
}


.h2-div {
    margin-top: 0px;
}

/* End of Second part */

/* Third part */

.form-box-class {
    border: 1px solid black;
    padding: 16px;
    margin-top: 16px;
}


.form-class input {
    display: block;
    width: 100%;
    height: 30px;
    border-color: rgb(0, 0, 0);
    border: 1px;

}


.form-box-class textarea {
    display: block;
    width: 100%;
    height: 100px;
    border-color: rgb(0, 0, 0);
    border: 1dvi;
    resize: none;
}


.form-class {
    padding-top: 16px;
    font-size: 1.2rem;
}


.radio-select {
    display: inline-block;
}


.selection {
    margin-top: 18px;
}


.selection h4 {
    font-size: 1.4rem;
}


button {
    font-size: 0.75rem;
    border: 1px solid;
    margin-top: 16px;
    padding: 12px;
    background-color: #d4e9e7;
} 
  

footer {
    margin-right: 24px;
    padding: 10px;
    padding-top: 0;
    text-align: right;
    font-size: 1.2rem;
}
  